<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="P&A 편입학원">
    <meta property="og:description" content="나에게 최적화된 편입학원">
    <meta property="og:image" content="./../asset/img/teacher_all_m.png">
    <link rel="stylesheet" href="./../asset/style/import.css">
    <link rel="icon" href="./../asset/img/favi.png" type="image/x-icon">
    <title>P&A - 나에게 최적화된 편입학원</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header-wrap">
                <a href="./../index.html" class="logo-wrap">
                    <h1 class="logo">
                        <img src="./../asset/img/logo-02.png" alt="P&A 편입">
                    </h1>
                </a>
                
                <nav class="nav">
                    <div class="gnb">
                        <ul class="gnb-list">
                            <li class="item">
                                <a href="#" class="item-cont ico-triangle">피앤에이 편입</a>
    
                                <div class="lnb-wrap">
                                    <ul class="lnb-list">
                                        <li class="item">
                                            <a href="./about.html" class="item-cont">P&A 소개</a>
                                        </li>
                                        <li class="item">
                                            <a href="./teacher.html" class="item-cont">P&A 강사진</a>
                                        </li>
                                        <li class="item">
                                            <a href="./reviews.html" class="item-cont">P&A 합격수기</a>
                                        </li>
                                        <li class="item">
                                            <a href="./map.html" class="item-cont">오시는 길</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="item">
                                <a href="#" class="item-cont ico-triangle">프로그램</a>
    
                                <div class="lnb-wrap">
                                    <ul class="lnb-list">
                                        <li class="item">
                                            <a href="./program_math.html" class="item-cont">편입 수학</a>
                                        </li>
                                        <li class="item">
                                            <a href="./program_eng.html" class="item-cont">편입 영어</a>
                                        </li>
                                        <li class="item">
                                            <a href="./program_self_study.html" class="item-cont">독학 Premuim</a>
                                        </li>
                                        <li class="item">
                                            <a href="./program_interview.html" class="item-cont">자소서&면접</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="item">
                                <a href="./textbook.html" class="item-cont">교재</a>
                            </li>
                            <li class="item">
                                <a href="https://blog.naver.com/ray4191" class="item-cont">SNS</a>
                            </li>
                            <li class="item">
                                <div class="btn-wrap">
                                    <a href="./contact.html" class="btn btn-type01">
                                        <span class="btn-txt">CONTACT</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        <button type="button" class="gnb-btn">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
        </header>

        <section class="section about-cont01">
            <div class="sec-cont01">
                <div class="sec-cont-wrap">
                    <h2 class="tit">About <span class="color-680000">P&A</span></h2>
                </div>
            </div>

            <div class="sec-cont02">
                <div class="sec-cont-wrap">
                    <div class="txt-cont">
                        <div class="txt-wrap txt-wrap01">
                            <span class="txt tit bold color-A30000">Passion<br class="m-br"> & <br class="m-br">Achievement</span>
                            <p class="txt txt01">
                                열정으로, <br class="m-br">그리고 합격으로.
                            </p>
                        </div>
                        
                        <div class="txt-wrap txt-wrap02">
                            <p class="txt"><span class="color-A30000">피앤에이 편입</span>은 꿈을 현실로 만드는 여정을 시작합니다.</p>
                            <p class="txt">
                                편입의 길은 단순히 학업의 연장선이 아닌,<br>자신의 미래를 새롭게 그려나가는 과정입니다.<br>이러한 여정에서 우리는 오직, 편입이라는 꿈을 향해 학생들과 함께 걷습니다.              </p>
                            <p class="txt">
                                최상위권 대학 합격 강사진들의 편입 경험과 노하우를 통하여<br>각 학생의 필요와 부족한 부분을 정밀하게 분석하고,<br>이를 기반으로 한 맞춤교육을 모든 시험이 종료되는 순간까지 제공합니다.
                            </p>
                            <p class="txt">
                                피앤에이 편입에서는 학생 한 사람, 한 사람의 꿈과 미래가 중요합니다.<br>학생과 강사진의 공통의 목표를 위해, 우리는 매순간 최선을 다할 것입니다. 
                            </p>
                            <p class="txt">
                                여러분의 <span class="bold">'가능성'</span>을 <span class="color-A30000">피앤에이 편입</span>에 맡겨주신다면,<br><span class="color-A30000">피앤에이 편입</span>은 여러분에게 1년 뒤 합격증으로 보답하겠습니다.
                            </p>
                            <span class="txt">대표 <span class="bold">정윤호, 김현승</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="footer-wrap">
                <a href="./../index.html" class="logo-wrap">
                    <div class="logo">
                        <img src="./../asset/img/logo-02.png" alt="P&A 편입">
                    </div>
                </a>

                <ul class="footer-list-wrap">
                    <li class="item">
                        <a href="mailto:ray4191@naver.com" class="item-cont">
                            <img src="./../asset/img/ico-email.png" alt="email" class="ico">
                        </a>
                    </li>
                    <li class="item">
                        <a href="tel:010-3522-0467" class="item-cont">
                            <img src="./../asset/img/ico-phone-call.png" alt="call" class="ico">
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="item-cont">
                            <img src="./../asset/img/ico-kakao-talk.png" alt="kakao" class="ico">
                        </a>
                    </li>
                    <li class="item">
                        <a href="https://www.instagram.com/transfer_sg/" class="item-cont" target="_blank">
                            <img src="./../asset/img/ico-instagram.png" alt="instagram" class="ico">
                        </a>
                    </li>
                    <li class="item">
                        <a href="https://blog.naver.com/ray4191" class="item-cont" target="_blank">
                            <img src="./../asset/img/ico-blog.png" alt="blog" class="ico">
                        </a>
                    </li>
                </ul>

                <div class="copyright-wrap">
                    <div class="info-wrap">
                        <span class="info">MAIL: ray4191@naver.com</span>
                        <span class="info">CALL: 010-3522-0467</span>
                    </div>
                    <span class="copyright">© 2023 P&A편입 All right reserved.</span>
                </div>
            </div>
        </footer>
    </div>

    <script src="./../asset/js/main.js"></script>
</body>
</html>