<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="P&A 편입학원">
    <meta property="og:description" content="나에게 최적화된 편입학원">
    <meta property="og:image" content="./../asset/img/teacher_all_m.png">
    <link rel="stylesheet" href="./../asset/style/import.css">
    <link rel="icon" href="./../asset/img/favi.png" type="image/x-icon">
    <title>P&A - 나에게 최적화된 편입학원</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header-wrap">
                <a href="./../index.html" class="logo-wrap">
                    <h1 class="logo">
                        <img src="./../asset/img/logo-02.png" alt="P&A 편입">
                    </h1>
                </a>
                
                <nav class="nav">
                    <div class="gnb">
                        <ul class="gnb-list">
                            <li class="item">
                                <a href="#" class="item-cont ico-triangle">피앤에이 편입</a>
    
                                <div class="lnb-wrap">
                                    <ul class="lnb-list">
                                        <li class="item">
                                            <a href="./about.html" class="item-cont">P&A 소개</a>
                                        </li>
                                        <li class="item">
                                            <a href="./teacher.html" class="item-cont">P&A 강사진</a>
                                        </li>
                                        <li class="item">
                                            <a href="./reviews.html" class="item-cont">P&A 합격수기</a>
                                        </li>
                                        <li class="item">
                                            <a href="./map.html" class="item-cont">오시는 길</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="item">
                                <a href="#" class="item-cont ico-triangle">프로그램</a>
    
                                <div class="lnb-wrap">
                                    <ul class="lnb-list">
                                        <li class="item">
                                            <a href="./program_math.html" class="item-cont">편입 수학</a>
                                        </li>
                                        <li class="item">
                                            <a href="./program_eng.html" class="item-cont">편입 영어</a>
                                        </li>
                                        <li class="item">
                                            <a href="./program_self_study.html" class="item-cont">독학 Premuim</a>
                                        </li>
                                        <li class="item">
                                            <a href="./program_interview.html" class="item-cont">자소서&면접</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="item">
                                <a href="./textbook.html" class="item-cont">교재</a>
                            </li>
                            <li class="item">
                                <a href="https://blog.naver.com/ray4191" class="item-cont">SNS</a>
                            </li>
                            <li class="item">
                                <div class="btn-wrap">
                                    <a href="./contact.html" class="btn btn-type01">
                                        <span class="btn-txt">CONTACT</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        <button type="button" class="gnb-btn">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
        </header>

        <section class="section contact-cont01">
            <div class="sec-cont01">
                <div class="sec-cont-wrap">
                    <ul class="company-info-wrap">
                        <li class="item">
                            <a href="tel:010-3522-0467" class="item-cont ico-call">
                                <span class="tit">call</span>
                                <span class="desc">010-3522-0467</span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="#" class="item-cont ico-kakao">
                                <span class="tit">kakaotalk</span>
                                <span class="desc">peter57</span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="mailto:ray4191@naver.com" class="item-cont ico-mail">
                                <span class="tit">mail</span>
                                <span class="desc">ray4191@naver.com</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="sec-cont02">
                <img src="./../asset/img/contact-banner.png" alt="P&A 편입과 함께 미래를 설계하세요. 지금도 늦지 않았습니다.">
            </div>

            <div class="sec-cont03">
                <div class="sec-cont-wrap">
                    <p class="txt-info">
                        <span class="ico">▶</span> 편입 성공의 지름길,
                        <span class="color-a7000a">P&A편입</span>과 함께하세요.

                        최대한 빠르게 확인 후 답장해드리겠습니다.
                    </p>

                    <form action="https://formspree.io/f/mdovpzre" method="POST" class="contact-form">
                        <div class="form-container">
                            <input type="text" name="name" placeholder="NAME">
                            <input type="text" name="phone" placeholder="PHONE">
                        </div>
                        <input type="text" name="공인영어성적 유무" placeholder="1. 공인영어성적 유무">
                        <input type="text" name="문과 이과" placeholder="2. 문과 이과">
                        <input type="text" name="일반 학사" placeholder="3. 일반 학사">
                        <input type="text" name="마지노선으로 생각하는 대학" placeholder="4. 마지노선으로 생각하는 대학">
                        <input type="text" name="원하는 학과" placeholder="5. 원하는 학과">
                        <input type="text" name="추후 원서접수시 지원할 대학들" placeholder="6. 추후 원서접수시 지원할 대학들">
                        <input type="text" name="수능점수 or 편입 공부 경험 유무" placeholder="7. 수능점수 or 편입 공부 경험 유무">

                        <div class="btn-wrap">
                            <button type="submit" class="btn btn-type02">
                                <span class="btn-txt">상담 신청하기</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="footer-wrap">
                <a href="./../index.html" class="logo-wrap">
                    <div class="logo">
                        <img src="./../asset/img/logo-02.png" alt="P&A 편입">
                    </div>
                </a>

                <ul class="footer-list-wrap">
                    <li class="item">
                        <a href="mailto:ray4191@naver.com" class="item-cont">
                            <img src="./../asset/img/ico-email.png" alt="email" class="ico">
                        </a>
                    </li>
                    <li class="item">
                        <a href="tel:010-3522-0467" class="item-cont">
                            <img src="./../asset/img/ico-phone-call.png" alt="call" class="ico">
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="item-cont">
                            <img src="./../asset/img/ico-kakao-talk.png" alt="kakao" class="ico">
                        </a>
                    </li>
                    <li class="item">
                        <a href="https://www.instagram.com/transfer_sg/" class="item-cont" target="_blank">
                            <img src="./../asset/img/ico-instagram.png" alt="instagram" class="ico">
                        </a>
                    </li>
                    <li class="item">
                        <a href="https://blog.naver.com/ray4191" class="item-cont" target="_blank">
                            <img src="./../asset/img/ico-blog.png" alt="blog" class="ico">
                        </a>
                    </li>
                </ul>

                <div class="copyright-wrap">
                    <div class="info-wrap">
                        <span class="info">MAIL: ray4191@naver.com</span>
                        <span class="info">CALL: 010-3522-0467</span>
                    </div>
                    <span class="copyright">© 2023 P&A편입 All right reserved.</span>
                </div>
            </div>
        </footer>
    </div>

    <script src="./../asset/js/main.js"></script>
</body>
</html>