<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="P&A 편입학원">
    <meta property="og:description" content="나에게 최적화된 편입학원">
    <meta property="og:image" content="./../asset/img/teacher_all_m.png">
    <link rel="stylesheet" href="./../asset/style/import.css">
    <link rel="icon" href="./../asset/img/favi.png" type="image/x-icon">
    <title>P&A - 나에게 최적화된 편입학원</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header-wrap">
                <a href="./../index.html" class="logo-wrap">
                    <h1 class="logo">
                        <img src="./../asset/img/logo-02.png" alt="P&A 편입">
                    </h1>
                </a>
                
                <nav class="nav">
                    <div class="gnb">
                        <ul class="gnb-list">
                            <li class="item">
                                <a href="#" class="item-cont ico-triangle">피앤에이 편입</a>
    
                                <div class="lnb-wrap">
                                    <ul class="lnb-list">
                                        <li class="item">
                                            <a href="./about.html" class="item-cont">P&A 소개</a>
                                        </li>
                                        <li class="item">
                                            <a href="./teacher.html" class="item-cont">P&A 강사진</a>
                                        </li>
                                        <li class="item">
                                            <a href="./reviews.html" class="item-cont">P&A 합격수기</a>
                                        </li>
                                        <li class="item">
                                            <a href="./map.html" class="item-cont">오시는 길</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="item">
                                <a href="#" class="item-cont ico-triangle">프로그램</a>
    
                                <div class="lnb-wrap">
                                    <ul class="lnb-list">
                                        <li class="item">
                                            <a href="./program_math.html" class="item-cont">편입 수학</a>
                                        </li>
                                        <li class="item">
                                            <a href="./program_eng.html" class="item-cont">편입 영어</a>
                                        </li>
                                        <li class="item">
                                            <a href="./program_self_study.html" class="item-cont">독학 Premuim</a>
                                        </li>
                                        <li class="item">
                                            <a href="./program_interview.html" class="item-cont">자소서&면접</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="item">
                                <a href="./textbook.html" class="item-cont">교재</a>
                            </li>
                            <li class="item">
                                <a href="https://blog.naver.com/ray4191" class="item-cont">SNS</a>
                            </li>
                            <li class="item">
                                <div class="btn-wrap">
                                    <a href="./contact.html" class="btn btn-type01">
                                        <span class="btn-txt">CONTACT</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        <button type="button" class="gnb-btn">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
        </header>

        <section class="section">
            <div class="sec-cont01">
                <img src="./../asset/img/self_study_01.png" alt="" class="pc-img">
                <img src="./../asset/img/self_study_01_m.png" alt="" class="m-img">
            </div>
        </section>

        <!-- <section class="section program-eng-cont02">
            <div class="sec-cont01">
                <div class="sec-cont-wrap">
                    <ul class="info-list-wrap">
                        <li class="item">
                            <div class="item-cont">
                                <span class="tit">PROGRAM 01</span>
                                <span class="desc">오프라인 수업만을 진행하는 <br> 프리미엄 튜터링</span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="item-cont">
                                <span class="tit">PROGRAM 02</span>
                                <span class="desc">24시간 질의응답 24시간 공부 감독</span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="item-cont">
                                <span class="tit">PROGRAM 03</span>
                                <span class="desc">1:1 월별 커리큘럼 제시<br>개인에게 맞춤화된 플랜</span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="item-cont">
                                <span class="tit">PROGRAM 04</span>
                                <span class="desc">원서접수/자소서/학계서/면접<br>All Care in P&A</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section> -->
        <section class="section program-eng-cont01 self-study img05">
            <div class="sec-cont01">
                <div class="sec-cont-wrap">
                    <div class="cont-box">
                        <div class="tit-wrap">
                            <h2 class="tit"><span class="color-a7000a">P&A편입</span>만의<br>프리미엄 독학 컨설팅</h2>
                        </div>
     
                        <!-- <div class="txt-cont">
                            <span class="info01">개인별 커리큘럼 플랜</span>
                            <ul class="txt-list-wrap">
                                <li class="item">
                                    <span class="item-cont">
                                        개인 별로 부족한 파트/어려움을 겪는 풀이법이 다르듯이 공부해야하는 방향과 커리큘럼도 모두<br>달라야만 합니다.
                                    </span>
                                </li>
                                <li class="item">
                                    <span class="item-cont">
                                        P&A편입의 강사진 모두 학생들 한명 한명의 개선점을 파악하여 즉각적인 피드백을 제시하며 매월 부족한 부분을 채울 수 있는 플랜을 제공합니다.
                                    </span>
                                </li>
                            </ul>

                        </div> -->
                    </div>

                </div>
            </div>
        </section>
        <section class="section program-eng-cont01 img01">
            <div class="sec-cont01">
                <div class="sec-cont-wrap">
                    <div class="cont-box">
                        <div class="tit-wrap">
                            <h2 class="tit">PROGRAM 1</h2>
                        </div>
    
                        <div class="txt-cont">
                            <span class="info01">오프라인 수업만을 고집하는 이유?</span>
                            <ul class="txt-list-wrap">
                                <li class="item">
                                    <span class="item-cont">
                                        온라인만으로는 학생들의 문제점을 세세히 알기 어렵습니다.<br>
                                        매 수업 학생들에게 편입영어 유형에 맞춘 수업을 진행하고 풀이 및 접근 방식을 지켜보고 피드백해야 합니다.
                                    </span>
                                </li>
                                <li class="item">
                                    <span class="item-cont">
                                        편입은 1년을 준비하는 단기간에 치뤄지는 전쟁이기 때문에 하루라도 빨리 스스로의 문제점을 개선시켜야 하며
                                        문제점을 파악해 줄 전문가가 필수적입니다.
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="section program-eng-cont01 img03">
            <div class="sec-cont01">
                <div class="sec-cont-wrap">
                    <div class="cont-box">
                        <div class="tit-wrap">
                            <h2 class="tit">PROGRAM 2</h2>
                        </div>
    
                        <div class="txt-cont">
                            <span class="info01">개인별 커리큘럼 플랜</span>
                            <ul class="txt-list-wrap">
                                <li class="item">
                                    <span class="item-cont">
                                        개인 별로 부족한 파트/어려움을 겪는 풀이법이 다르듯이 공부해야하는 방향과 커리큘럼도 모두 달라야만 합니다.
                                    </span>
                                </li>
                                <li class="item">
                                    <span class="item-cont">
                                        P&A편입의 강사진 모두 학생들 한명 한명의 개선점을 파악하여 즉각적인 피드백을 제시하며 매월 부족한 부분을 채울 수 있는 플랜을 제공합니다.
                                    </span>
                                </li>
                            </ul>

                            <p class="point-txt">이러한 수업 방식이야말로 소수정예 <span class="color-a7000a">P&A편입 더 프리미엄</span>만이<br class="pc-br"> 제공할 수 있는 프로그램입니다.
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="section program-eng-cont01 img02">
            <div class="sec-cont01">
                <div class="sec-cont-wrap">
                    <div class="cont-box">
                        <div class="tit-wrap">
                            <h2 class="tit">PROGRAM 3</h2>
                        </div>
    
                        <div class="txt-cont">
                            <span class="info01">All Care Program</span>
                            <ul class="txt-list-wrap">
                                <li class="item">
                                    <span class="item-cont">
                                        학생들의 기출 점수를 모두 체크하고 과거 합격생들의 점수분포를 통해 원서접수 지원
                                    </span>
                                </li>
                                <li class="item">
                                    <span class="item-cont">
                                        자소서&학계서를 도와줄 첨삭 전문 선생님들 
                                    </span>
                                </li>
                            </ul>

                            <p class="point-txt">P&A편입은 1차 합격 후 2차 면접을 준비시키며<br>면접 <span class="color-a7000a">합격률 100%</span>를 자랑합니다.
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="section">
            <div class="sec-cont01">
                <img src="./../asset/img/self_study_02.png" alt="">
            </div>
        </section>

        <section class="section">
            <div class="sec-cont01">
                <img src="./../asset/img/self_study_03.png" alt="" class="pc-img">
                <img src="./../asset/img/self_study_03_m.png" alt="" class="m-img">
            </div>
        </section>

        <footer class="footer">
            <div class="footer-wrap">
                <a href="./../index.html" class="logo-wrap">
                    <div class="logo">
                        <img src="./../asset/img/logo-02.png" alt="P&A 편입">
                    </div>
                </a>

                <ul class="footer-list-wrap">
                    <li class="item">
                        <a href="mailto:ray4191@naver.com" class="item-cont">
                            <img src="./../asset/img/ico-email.png" alt="email" class="ico">
                        </a>
                    </li>
                    <li class="item">
                        <a href="tel:010-3522-0467" class="item-cont">
                            <img src="./../asset/img/ico-phone-call.png" alt="call" class="ico">
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="item-cont">
                            <img src="./../asset/img/ico-kakao-talk.png" alt="kakao" class="ico">
                        </a>
                    </li>
                    <li class="item">
                        <a href="https://www.instagram.com/transfer_sg/" class="item-cont" target="_blank">
                            <img src="./../asset/img/ico-instagram.png" alt="instagram" class="ico">
                        </a>
                    </li>
                    <li class="item">
                        <a href="https://blog.naver.com/ray4191" class="item-cont" target="_blank">
                            <img src="./../asset/img/ico-blog.png" alt="blog" class="ico">
                        </a>
                    </li>
                </ul>

                <div class="copyright-wrap">
                    <div class="info-wrap">
                        <span class="info">MAIL: ray4191@naver.com</span>
                        <span class="info">CALL: 010-3522-0467</span>
                    </div>
                    <span class="copyright">© 2023 P&A편입 All right reserved.</span>
                </div>
            </div>
        </footer>
    </div>

    <script src="./../asset/js/main.js"></script>
</body>
</html>