<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="P&A 편입학원">
    <meta property="og:description" content="나에게 최적화된 편입학원">
    <meta property="og:image" content="./../asset/img/teacher_all_m.png">
    <link rel="stylesheet" href="./../asset/style/import.css">
    <link rel="icon" href="./../asset/img/favi.png" type="image/x-icon">
    <title>P&A - 나에게 최적화된 편입학원</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header-wrap">
                <a href="./../index.html" class="logo-wrap">
                    <h1 class="logo">
                        <img src="./../asset/img/logo-02.png" alt="P&A 편입">
                    </h1>
                </a>
                
                <nav class="nav">
                    <div class="gnb">
                        <ul class="gnb-list">
                            <li class="item">
                                <a href="#" class="item-cont ico-triangle">피앤에이 편입</a>
    
                                <div class="lnb-wrap">
                                    <ul class="lnb-list">
                                        <li class="item">
                                            <a href="./about.html" class="item-cont">P&A 소개</a>
                                        </li>
                                        <li class="item">
                                            <a href="./teacher.html" class="item-cont">P&A 강사진</a>
                                        </li>
                                        <li class="item">
                                            <a href="./reviews.html" class="item-cont">P&A 합격수기</a>
                                        </li>
                                        <li class="item">
                                            <a href="./map.html" class="item-cont">오시는 길</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="item">
                                <a href="#" class="item-cont ico-triangle">프로그램</a>
    
                                <div class="lnb-wrap">
                                    <ul class="lnb-list">
                                        <li class="item">
                                            <a href="./program_math.html" class="item-cont">편입 수학</a>
                                        </li>
                                        <li class="item">
                                            <a href="./program_eng.html" class="item-cont">편입 영어</a>
                                        </li>
                                        <li class="item">
                                            <a href="./program_self_study.html" class="item-cont">독학 Premuim</a>
                                        </li>
                                        <li class="item">
                                            <a href="./program_interview.html" class="item-cont">자소서&면접</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="item">
                                <a href="./textbook.html" class="item-cont">교재</a>
                            </li>
                            <li class="item">
                                <a href="https://blog.naver.com/ray4191" class="item-cont">SNS</a>
                            </li>
                            <li class="item">
                                <div class="btn-wrap">
                                    <a href="./contact.html" class="btn btn-type01">
                                        <span class="btn-txt">CONTACT</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        <button type="button" class="gnb-btn">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
        </header>

        <section class="section program-interview-cont01">
            <div class="sec-cont01">
                <img src="./../asset/img/Interview_01.png" alt="">
            </div>
        </section>

        <section class="section program-interview-cont01">
            <div class="sec-cont01">
                <img src="./../asset/img/Interview_02.png" alt="">
            </div>
        </section>

        <section class="section program-interview-cont01 img01">
            <div class="sec-cont01">
                <div class="sec-cont-wrap max-1440">
                    <img src="./../asset/img/Interview_03.png" alt="">
                </div>
            </div>
        </section>

        <section class="section program-interview-cont01">
            <div class="sec-cont01">
                <img src="./../asset/img/Interview_04.png" alt="">
            </div>
        </section>

        <section class="section program-interview-cont01 img01">
            <div class="sec-cont01">
                <div class="sec-cont-wrap">
                    <img src="./../asset/img/Interview_05.png" alt="">
                </div>
            </div>
        </section>

        <section class="section program-interview-cont01">
            <div class="sec-cont01">
                <div class="sec-cont-wrap">
                    <img src="./../asset/img/Interview_06.png" alt="">
                </div>
            </div>
            <div class="tconsulting-txt-cont">
                <div class="sec-cont-wrap">
                    <p>
                        P&A편입은 면접을 대비시킨 학생 <em class="em-point">전원 합격</em>이라는 타이틀을 가지고 있습니다.<br>
                        보편적인 면접대비가 아닌 실제 합격생들의 <br class="m-s-br">데이터 + 지원자 학생분의 데이터를 조합한 <br class="m-br">최적의 면접 시나리오를 준비하며 대비합니다.
                    </p>
                </div>
            </div>
        </section>

        <section class="section program-interview-cont01">
            <div class="sec-cont01">
                <img src="./../asset/img/Interview_07.png" alt="">
            </div>
        </section>

        <footer class="footer">
            <div class="footer-wrap">
                <a href="./../index.html" class="logo-wrap">
                    <div class="logo">
                        <img src="./../asset/img/logo-02.png" alt="P&A 편입">
                    </div>
                </a>

                <ul class="footer-list-wrap">
                    <li class="item">
                        <a href="mailto:ray4191@naver.com" class="item-cont">
                            <img src="./../asset/img/ico-email.png" alt="email" class="ico">
                        </a>
                    </li>
                    <li class="item">
                        <a href="tel:010-3522-0467" class="item-cont">
                            <img src="./../asset/img/ico-phone-call.png" alt="call" class="ico">
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="item-cont">
                            <img src="./../asset/img/ico-kakao-talk.png" alt="kakao" class="ico">
                        </a>
                    </li>
                    <li class="item">
                        <a href="https://www.instagram.com/transfer_sg/" class="item-cont" target="_blank">
                            <img src="./../asset/img/ico-instagram.png" alt="instagram" class="ico">
                        </a>
                    </li>
                    <li class="item">
                        <a href="https://blog.naver.com/ray4191" class="item-cont" target="_blank">
                            <img src="./../asset/img/ico-blog.png" alt="blog" class="ico">
                        </a>
                    </li>
                </ul>

                <div class="copyright-wrap">
                    <div class="info-wrap">
                        <span class="info">MAIL: ray4191@naver.com</span>
                        <span class="info">CALL: 010-3522-0467</span>
                    </div>
                    <span class="copyright">© 2023 P&A편입 All right reserved.</span>
                </div>
            </div>
        </footer>
    </div>

    <script src="./../asset/js/main.js"></script>
</body>
</html>