<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="P&A 편입학원">
    <meta property="og:description" content="나에게 최적화된 편입학원">
    <meta property="og:image" content="./../asset/img/teacher_all_m.png">
    <link rel="stylesheet" href="./../asset/style/import.css">
    <link rel="icon" href="./../asset/img/favi.png" type="image/x-icon">
    <title>P&A - 나에게 최적화된 편입학원</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header-wrap">
                <a href="./../index.html" class="logo-wrap">
                    <h1 class="logo">
                        <img src="./../asset/img/logo-02.png" alt="P&A 편입">
                    </h1>
                </a>
                
                <nav class="nav">
                    <div class="gnb">
                        <ul class="gnb-list">
                            <li class="item">
                                <a href="#" class="item-cont ico-triangle">피앤에이 편입</a>
    
                                <div class="lnb-wrap">
                                    <ul class="lnb-list">
                                        <li class="item">
                                            <a href="./about.html" class="item-cont">P&A 소개</a>
                                        </li>
                                        <li class="item">
                                            <a href="./teacher.html" class="item-cont">P&A 강사진</a>
                                        </li>
                                        <li class="item">
                                            <a href="./reviews.html" class="item-cont">P&A 합격수기</a>
                                        </li>
                                        <li class="item">
                                            <a href="./map.html" class="item-cont">오시는 길</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="item">
                                <a href="#" class="item-cont ico-triangle">프로그램</a>
    
                                <div class="lnb-wrap">
                                    <ul class="lnb-list">
                                        <li class="item">
                                            <a href="./program_math.html" class="item-cont">편입 수학</a>
                                        </li>
                                        <li class="item">
                                            <a href="./program_eng.html" class="item-cont">편입 영어</a>
                                        </li>
                                        <li class="item">
                                            <a href="./program_self_study.html" class="item-cont">독학 Premuim</a>
                                        </li>
                                        <li class="item">
                                            <a href="./program_interview.html" class="item-cont">자소서&면접</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="item">
                                <a href="./textbook.html" class="item-cont">교재</a>
                            </li>
                            <li class="item">
                                <a href="https://blog.naver.com/ray4191" class="item-cont">SNS</a>
                            </li>
                            <li class="item">
                                <div class="btn-wrap">
                                    <a href="./contact.html" class="btn btn-type01">
                                        <span class="btn-txt">CONTACT</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        <button type="button" class="gnb-btn">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
        </header>
        

        <section class="section">
            <div class="sec-cont01 eng_cont01">
                <div class="cont_list01">
                    <div class="item">
                        <img src="" alt="" style="width: 230px; height: 326px; background-color: #ddd; display: block;">
                        <span>꼼꼼한 학습</span>
                    </div>
                    <div class="item">
                        <img src="" alt="" style="width: 230px; height: 326px; background-color: #ddd; display: block;">
                        <span>영어의 A부터 Z까지 총.집.합</span>
                    </div>
                    <div class="item">
                        <img src="" alt="" style="width: 230px; height: 326px; background-color: #ddd; display: block;">
                        <span>확실한 결과</span>
                    </div>
                </div>
                
                <div class="pna_system_cont">
                    <img src="../asset/img/pna_stystem.png" alt="" class="tit">
                    <img src="../asset/img/pna_stystem_cont.png" alt="" class="cont">
                </div>

                <div class="eng_num_cont">
                    <span class="num_01 tit">개발 맞춤 멘토링</span>

                    <p class="txt">어떤 베이스의 학생이건 동일한 수업을 진행한다면,<br>
                        공장식 수업에 지나지 않습니다.</p>
                    <p class="txt"><span class="CB0000">개별 맞춤 멘토링</span>은 <span class="underline">학생 한 명 한 명의 <span class="bold">베이스</span></span>를 이해하고,<br>
                        이에 맞추어 학습을 지도하는 것입니다.</p>
                    <p class="txt bold">학생의 학습에 지장이 생기는 문제들은,<br>
                        대다수가 수렴되는 해결책보다는,<br>
                        학생 맞춤 솔루션이 제시되어야 합니다.</p>
                    <p class="txt"><span class="CB0000">P&A</span>는 학생들의 학습방식과 과정을 <span class="bold">1:1 피드백</span>(순공부시간 관리,<br>스터디플래닝, 무제한 보강, 강제자습제도)하여 관리합니다.</p>
                </div>

                <div class="eng_num_cont">
                    <span class="num_02 tit">24시간 질의응답</span>

                    <p class="txt">편입영어를 공부하는 것에 있어서 가장 중요한 것은,<br>모르는 것을 제 때에 해결하는 것입니다.</p>
                    <p class="txt">영어란 구조적으로 얽혀있는 것이기 때문에,<br><span class="underline bold">하나가 누락되면 다른 것도 무너지기 쉽습니다.</span><br>
                        특히나 기본기를 꽉 채워야 하는 상반기엔<br><span class="bold">상시 질의응답이 필수</span>적입니다.</p>
                    <p class="txt"><span class="CB0000">P&A</span>는 <span class="bold">24시간</span> 온/오프라인을 통해<br>
                        강사에게 직접 질의하고 답변받는 시스템을 구축하여,<br>
                        <span class="CB0000">학생이 언제, 어디서든 쉽게 질의응답</span>을 받을 수 있습니다.</p>
                </div>

                <div class="eng_num_cont">
                    <span class="num03 tit">먼슬리 프로젝트</span>

                    <ul class="chk_list">
                        <li class="item"><span class="bold">월말 모의고사</span> 및 피드백 + 보강</li>
                        <li class="item"><span class="bold">월별 특강</span> 및 <span class="bold">all night study</span></li>
                        <li class="item">배치 상담 + 자소서 컨설팅 및 첨삭</li>
                    </ul>

                    <p class="txt"><span class="bold">*all night study</span>란?<br>
                        일과 이후 늦은 오후부터 새벽까지 일정 목표를 정해두고,<br>
                        강사의 감독 하에 완수하는 프로그램!<br>
                        해당 프로그램 시행 이후, 학생들의 <span class="bold">학업성취율 120%</span> 향상!</p>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="footer-wrap">
                <a href="./../index.html" class="logo-wrap">
                    <div class="logo">
                        <img src="./../asset/img/logo-02.png" alt="P&A 편입">
                    </div>
                </a>

                <ul class="footer-list-wrap">
                    <li class="item">
                        <a href="mailto:ray4191@naver.com" class="item-cont">
                            <img src="./../asset/img/ico-email.png" alt="email" class="ico">
                        </a>
                    </li>
                    <li class="item">
                        <a href="tel:010-3522-0467" class="item-cont">
                            <img src="./../asset/img/ico-phone-call.png" alt="call" class="ico">
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="item-cont">
                            <img src="./../asset/img/ico-kakao-talk.png" alt="kakao" class="ico">
                        </a>
                    </li>
                    <li class="item">
                        <a href="https://www.instagram.com/transfer_sg/" class="item-cont" target="_blank">
                            <img src="./../asset/img/ico-instagram.png" alt="instagram" class="ico">
                        </a>
                    </li>
                    <li class="item">
                        <a href="https://blog.naver.com/ray4191" class="item-cont" target="_blank">
                            <img src="./../asset/img/ico-blog.png" alt="blog" class="ico">
                        </a>
                    </li>
                </ul>

                <div class="copyright-wrap">
                    <div class="info-wrap">
                        <span class="info">MAIL: ray4191@naver.com</span>
                        <span class="info">CALL: 010-3522-0467</span>
                    </div>
                    <span class="copyright">© 2023 P&A편입 All right reserved.</span>
                </div>
            </div>
        </footer>
    </div>

    <script src="./../asset/js/main.js"></script>
</body>
</html>