<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="P&A 편입학원">
    <meta property="og:description" content="나에게 최적화된 편입학원">
    <meta property="og:image" content="./../asset/img/teacher_all_m.png">
    <link rel="stylesheet" href="./../asset/style/import.css">
    <link rel="icon" href="./../asset/img/favi.png" type="image/x-icon">
    <title>P&A - 나에게 최적화된 편입학원</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header-wrap">
                <a href="./../index.html" class="logo-wrap">
                    <h1 class="logo">
                        <img src="./../asset/img/logo-02.png" alt="P&A 편입">
                    </h1>
                </a>
                
                <nav class="nav">
                    <div class="gnb">
                        <ul class="gnb-list">
                            <li class="item">
                                <a href="#" class="item-cont ico-triangle">피앤에이 편입</a>
    
                                <div class="lnb-wrap">
                                    <ul class="lnb-list">
                                        <li class="item">
                                            <a href="./about.html" class="item-cont">P&A 소개</a>
                                        </li>
                                        <li class="item">
                                            <a href="./teacher.html" class="item-cont">P&A 강사진</a>
                                        </li>
                                        <li class="item">
                                            <a href="./reviews.html" class="item-cont">P&A 합격수기</a>
                                        </li>
                                        <li class="item">
                                            <a href="./map.html" class="item-cont">오시는 길</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="item">
                                <a href="#" class="item-cont ico-triangle">프로그램</a>
    
                                <div class="lnb-wrap">
                                    <ul class="lnb-list">
                                        <li class="item">
                                            <a href="./program_math.html" class="item-cont">편입 수학</a>
                                        </li>
                                        <li class="item">
                                            <a href="./program_eng.html" class="item-cont">편입 영어</a>
                                        </li>
                                        <li class="item">
                                            <a href="./program_self_study.html" class="item-cont">독학 Premuim</a>
                                        </li>
                                        <li class="item">
                                            <a href="./program_interview.html" class="item-cont">자소서&면접</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="item">
                                <a href="./textbook.html" class="item-cont">교재</a>
                            </li>
                            <li class="item">
                                <a href="https://blog.naver.com/ray4191" class="item-cont">SNS</a>
                            </li>
                            <li class="item">
                                <div class="btn-wrap">
                                    <a href="./contact.html" class="btn btn-type01">
                                        <span class="btn-txt">CONTACT</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        <button type="button" class="gnb-btn">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
        </header>

        <section class="section reviews-cont01">
            <div class="sec-cont01">
                <div class="sec-cont-wrap">
                    <ul class="review-list-wrap">
                        <li class="item">
                            <div class="tit-info-wrap">
                                <span class="img-wrap">
                                    <img src="./../asset/img/sungkyunkwan.png" alt="대학 로고">
                                </span>

                                <div class="txt-info">
                                    <span class="tit">성균관대학교</span>
                                    <span class="desc">경제학과</span>
                                </div>
                            </div>

                            <div class="review-info-wrap">
                                <div class="txt-wrap">
                                    <p class="txt">
                                        "순수 학은제가 상위권 편입에 불리하다고 믿었는 데 선생님 말대로 편입은 시험점수로 승부하는 곳 이였어요. 편입영어의 모든 과목은 수험생의 눈높 이에서 이해가 잘되도록 가르쳐주셨고 제가 가장 힘이 되었던 시기는 원서접수와 자소서 그리고 면 접준비를 해야하는 시기였어요. 다른 학원 친구들 은 혼자 결정하고 준비할 때 P&A편입 쌤들이 처 음부터 끝까지 모든걸 함께하고 도와주셔서 시험 공부에만 집중할 수 있었어요. 이 시기는 정말 저 한테 너무 중요한 시기였습니다."
                                    </p>
                                </div>

                                <span class="people-info">
                                    <span class="info">김X곤</span>
                                </span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="tit-info-wrap">
                                <span class="img-wrap">
                                    <img src="./../asset/img/hanyang.png" alt="대학 로고">
                                </span>

                                <div class="txt-info">
                                    <span class="tit">한양대학교</span>
                                    <span class="desc">경영학과</span>
                                </div>
                            </div>

                            <div class="review-info-wrap">
                                <div class="txt-wrap">
                                    <p class="txt">
                                        "수능 때 상경계 학과를 너무 가고싶었지만 가지
                                        못했고 항상 아쉬움을 갖고 살다가 친구가 P&A편 입에서 합격한 소식을 듣고 따라서 준비했습니다!
                                        편입영어에서 불필요한 내용은 빼고
                                        최적화된 내용만을 가르쳐주셨고 매일 피드백을 통해 부족한 부분들을 개선할 수 있었습니다!"
                                    </p>
                                </div>

                                <span class="people-info">
                                    <span class="info">최X리</span>
                                </span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="tit-info-wrap">
                                <span class="img-wrap">
                                    <img src="./../asset/img/sogang.png" alt="대학 로고">
                                </span>

                                <div class="txt-info">
                                    <span class="tit">서강대학교</span>
                                    <span class="desc">유럽문화학과</span>
                                </div>
                            </div>

                            <div class="review-info-wrap">
                                <div class="txt-wrap">
                                    <p class="txt color-420814">
                                        "1년간 다른학원에서 준비하며 9개 학교를 지원했 지만 올킬하고 다시 한번 도전하자는 마음으로
                                        P&A편입에서 준비했고 이전에 준비할 때 몰랐던 편입에 필요한 공부방법과 문제풀이 방법을 습득 하며 철저히 준비할 수 있었어요."
                                    </p>
                                </div>

                                <span class="people-info">
                                    <span class="info color-420814">김X연</span>
                                </span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="tit-info-wrap">
                                <span class="img-wrap">
                                    <img src="./../asset/img/chungang.png" alt="대학 로고">
                                </span>

                                <div class="txt-info">
                                    <span class="tit">중앙대학교</span>
                                    <span class="desc">광고홍보학과</span>
                                </div>
                            </div>

                            <div class="review-info-wrap">
                                <div class="txt-wrap">
                                    <p class="txt color-420814">
                                        "알파벳도 모르는 노베이스였지만
                                        PA편입에서 준비하고 중앙대학교 
                                        광고홍보학과 합격했습니다. 학점은행제 학위 취득부터 어문논독 각 파트에 필요한 공부법을 배울 수 있었고 가이드 해주신덕에 가능한 일이였습니다."
                                    </p>
                                </div>

                                <span class="people-info">
                                    <span class="info color-420814">이X현</span>
                                </span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="tit-info-wrap">
                                <span class="img-wrap">
                                    <img src="./../asset/img/sogang.png" alt="대학 로고">
                                </span>

                                <div class="txt-info">
                                    <span class="tit">서강대학교</span>
                                    <span class="desc">글로벌한국학과</span>
                                </div>
                            </div>

                            <div class="review-info-wrap">
                                <div class="txt-wrap">
                                    <p class="txt color-420814">
                                        "학벌에 대한 아쉬움과 지금 아니면 도전하지
                                        못할거라는 두려움에 편입을 준비했을 때, 아무것도 모르던 제게 단어 암기하는 방법, 편입 독해를 푸는 방법, 문법을 파훼하는 방법 모든 것을 P&A편입에서 배울 수 있었고
                                        1년간 울고 웃으며 준비한 결과 꿈에도 상상
                                        못한 대학교 합격증을 받았습니다."
                                    </p>
                                </div>

                                <span class="people-info">
                                    <span class="info color-420814">이X미</span>
                                </span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="tit-info-wrap">
                                <span class="img-wrap">
                                    <img src="./../asset/img/sungkyunkwan.png" alt="대학 로고">
                                </span>

                                <div class="txt-info">
                                    <span class="tit">성균관대학교</span>
                                    <span class="desc">행정학과</span>
                                </div>
                            </div>

                            <div class="review-info-wrap">
                                <div class="txt-wrap">
                                    <p class="txt color-420814">
                                        "로스쿨을 가고싶었지만 전적대 라인도 좋지 못했고 학과도 적합하지 않아서 편입을 준비했습니다. P&A편입에 1년을 걸었고 후회하지 않을만큼 열심히 공부한 결과 _ 성균관대학교 행정학과에 편입할 수 있었습니다. 모든 학교에 대한 기출 대비부터 자소서, 면접 준비까지 합격증을 받는 순간까지 모든걸 함께 해준 선생님들께 진심으로 감사드립니다."
                                    </p>
                                </div>

                                <span class="people-info">
                                    <span class="info color-420814">이X욱</span>
                                </span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="tit-info-wrap">
                                <span class="img-wrap">
                                    <img src="./../asset/img/hongik.png" alt="대학 로고">
                                </span>

                                <div class="txt-info">
                                    <span class="tit">홍익대</span>
                                    <span class="desc">법학과</span>
                                </div>
                            </div>

                            <div class="review-info-wrap">
                                <div class="txt-wrap">
                                    <p class="txt color-420814">
                                        "고등학교 영어단어도 모르는 수준으로 일반 문과편입을 준비하면서 수도권 대학만 합격해도 다행이라고 생각했는데 P&A편입에서 커리큘럼 쭉 타고 140:1 경쟁률 뚫고 합격했습니다."
                                    </p>
                                </div>

                                <span class="people-info">
                                    <span class="info color-420814">민X자</span>
                                </span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="tit-info-wrap">
                                <span class="img-wrap">
                                    <img src="./../asset/img/sookmyung.png" alt="대학 로고">
                                </span>

                                <div class="txt-info">
                                    <span class="tit">숙명여대</span>
                                    <span class="desc">의류학과</span>
                                </div>
                            </div>

                            <div class="review-info-wrap">
                                <div class="txt-wrap">
                                    <p class="txt color-420814">
                                        "미대 편입을 준비했다가 잘되지 않아서 편입영어로 갈 수 있는 패션쪽 학과를 준비했고 예체능 공부를 해왔어서 대형 학원에서 수업하는 영어를 따라가기 어려웠어요. P&A편입에서 수강 시작하고는 아침부터 새벽까지 질문 답장해주시고 모르는 부분 전부 알려주시고 잡아주셔서 항상 꿈꿔왔던 학과에 와서 공부할 수 있게 되었습니다."
                                    </p>
                                </div>

                                <span class="people-info">
                                    <span class="info color-420814">이X영</span>
                                </span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="tit-info-wrap">
                                <span class="img-wrap">
                                    <img src="./../asset/img/ewha.png" alt="대학 로고">
                                </span>

                                <div class="txt-info">
                                    <span class="tit">이화여대</span>
                                    <span class="desc">경제학과</span>
                                </div>
                            </div>

                            <div class="review-info-wrap">
                                <div class="txt-wrap">
                                    <p class="txt color-420814">
                                        "고등학교때 꿈만 꾸던 대학이라 수능을 다시 볼까? 고민만 하고 지방대를 다니다가 너무 늦기전에 도전해보자는 생각에 친구가 합격한 P&A편입에서 준비했습니다. 수업은 말할거 없고 관리부터 자소서 학계서 비중이 큰 학교들 준비할 때 전부 케어해주셔서 마음 편하게 필기시험들에 100% 전념할 수 있고 합격하게 된거 같아요!"
                                    </p>
                                </div>

                                <span class="people-info">
                                    <span class="info color-420814">김X정</span>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="footer-wrap">
                <a href="./../index.html" class="logo-wrap">
                    <div class="logo">
                        <img src="./../asset/img/logo-02.png" alt="P&A 편입">
                    </div>
                </a>

                <ul class="footer-list-wrap">
                    <li class="item">
                        <a href="mailto:ray4191@naver.com" class="item-cont">
                            <img src="./../asset/img/ico-email.png" alt="email" class="ico">
                        </a>
                    </li>
                    <li class="item">
                        <a href="tel:010-3522-0467" class="item-cont">
                            <img src="./../asset/img/ico-phone-call.png" alt="call" class="ico">
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="item-cont">
                            <img src="./../asset/img/ico-kakao-talk.png" alt="kakao" class="ico">
                        </a>
                    </li>
                    <li class="item">
                        <a href="https://www.instagram.com/transfer_sg/" class="item-cont" target="_blank">
                            <img src="./../asset/img/ico-instagram.png" alt="instagram" class="ico">
                        </a>
                    </li>
                    <li class="item">
                        <a href="https://blog.naver.com/ray4191" class="item-cont" target="_blank">
                            <img src="./../asset/img/ico-blog.png" alt="blog" class="ico">
                        </a>
                    </li>
                </ul>

                <div class="copyright-wrap">
                    <div class="info-wrap">
                        <span class="info">MAIL: ray4191@naver.com</span>
                        <span class="info">CALL: 010-3522-0467</span>
                    </div>
                    <span class="copyright">© 2023 P&A편입 All right reserved.</span>
                </div>
            </div>
        </footer>
    </div>

    <script src="./../asset/js/main.js"></script>
</body>
</html>